// Styling for the masthead
main.masthead
  position: relative
  width: 100%
  padding-top: 150px
  padding-bottom: 100px
  text-align: center
  color: white
  //background-image: url('../img/header-bg.jpg')
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 100%), url("../img/Sea.jpg")
  background-repeat: no-repeat
  background-attachment: scroll
  background-position: center center
  @include background-cover
  .intro-text
    padding-top: 150px
    padding-bottom: 100px
    .intro-lead-in
      font-size: 22px
      font-style: italic
      line-height: 22px
      margin-bottom: 25px
      @include serif-font

    .intro-heading
      font-size: 50px
      font-weight: 700
      line-height: 50px
      margin-bottom: 25px
      @include heading-font



@media(min-width:768px)
  main.masthead
    .intro-text
      padding-top: 250px
      padding-bottom: 230px
      .intro-lead-in
        font-size: 40px
        font-style: italic
        line-height: 40px
        margin-bottom: 25px
        @include serif-font

      .intro-heading
        font-size: 75px
        font-weight: 700
        line-height: 75px
        margin-bottom: 50px
        @include heading-font
